<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="rs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <rs.Properties.Settings>
            <setting name="rs_RhabotService_Service" serializeAs="String">
                <value>http://www.rhabot.com/RhabotService/service.asmx</value>
            </setting>
            <setting name="rs_GUpdate_GUpdate" serializeAs="String">
                <value>http://www.rhabot.com/RhabotService/gupdate.asmx</value>
            </setting>
            <setting name="rs_AutoNav_AutoNav" serializeAs="String">
                <value>http://www.rhabot.com/RhabotService/autonav.asmx</value>
            </setting>
            <setting name="rs_PathService_PathService" serializeAs="String">
                <value>http://www.rhabot.com/RhabotService/pathservice.asmx</value>
            </setting>
            <setting name="rs_UserService_UserService" serializeAs="String">
                <value>http://www.rhabot.com/rhabotservice/UserService.asmx</value>
            </setting>
            <setting name="rs_SharingService_CloneService" serializeAs="String">
                <value>http://www.rhabot.com/rhabotservice/CloneService.asmx</value>
            </setting>
            <setting name="rs_CharacterMonitorService_CharacterMonitorService"
                serializeAs="String">
                <value>http://www.rhabot.com/rhabotservice/CharacterMonitorService.asmx</value>
            </setting>
        </rs.Properties.Settings>
    </applicationSettings>
</configuration>